# Task 4.8 - Grouping Data & Aggregating Variables

## Step 1 - import libraries & dataframe

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Defining path
path = r'C:\Users\kaymi\OneDrive\Documents\05-2023-Instacart Basket Analysis'

In [3]:
# Import ords_prods_merged
ords_prods_merge =  pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','orders_products_merged_updated.pkl'))

In [4]:
# Check columns
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,price_range_loc,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,first order,196,1,0,195,Soda,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Least busy days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Least busy days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both,NaN,Mid-range product,Least busy,Least busy days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both,NaN,Mid-range product,Least busy,Least busy days,Most orders

## Step 2 - Find aggregated mean of entire dataframe

In [5]:
# Group by Department ID
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457687
2                17.277920
3                17.179756
4                17.811403
5                15.213779
6                16.439806
7                17.225773
8                15.340520
9                15.895474
10               20.197148
11               16.170828
12               15.887622
13               16.583304
14               16.757377
15               16.165037
16               17.663250
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## Step 3 - Analyze the results - compare to those of the subset

##### In the subset, only a handful of departments were displayed due to the limited number of rows pulled. On average, the mean of each department ID in the entire dataframe is lower than that of the subset.

## Step 4 - Follow the Exercise instructions for creating a loyalty flag

In [6]:
# split the data into groups based on user_id column, apply the transform() function on the "order_number" column, and create a new max_order column
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [7]:
# Check column was created
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,...,aisle_id,department_id,prices,_merge,price_range_loc,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,first order,196,1,0,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Least busy days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,195,...,77,7,9.0,both,NaN,Mid-range product,Least busy,Least busy days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,195,...,77,7,9.0,both,NaN,Mid-range product,Least busy,Least busy days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,195,...,77,7,9.0,both,NaN,Mid-range product,Least busy,Least busy days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,195,...,77,7,9.0,both,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22

In [8]:
# Derive columns with loc()
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [9]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [10]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [11]:
# Check value counts
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: loyalty_flag, dtype: int64

In [12]:
# Return only columns desired
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

## Step 5 - Use loyalty flag for analysis

In [13]:
#Check basic statistics
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.778412  1.0  25.0
New customer      7.805500  1.0  25.0
Regular customer  7.802850  1.0  25.0

#### It seems that on average, loyal customers purchase products that cost slightly less than what new and regular customers purchase.

## Step 6 - Create a spending flag based on average price of orders per user

In [14]:
#Group data on user_id column, apply the transform() function on the "prices" column, and create a new spending column
ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [15]:
# Check column was created
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,...,prices,_merge,price_range_loc,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price
0,2539329,1,1,2,8,first order,196,1,0,195,...,9.0,both,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,195,...,9.0,both,NaN,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,195,...,9.0,both,NaN,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,195,...,9.0,both,NaN,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,195,...,9.0,both,NaN,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,195,...,9.0,both,NaN,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,195,...,9.0,both,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,195,...,9.0,both,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,195,...,9.0,both,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,195,...,9.0,both,NaN,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,195,...,9.0,both,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,195,...,9.0,both,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,195,...,9.0,both,NaN,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,195,...,9.0,both,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,195,...,9.0,both,NaN,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556

In [16]:
# Derive columns with loc()
ords_prods_merge.loc[ords_prods_merge['average_price'] >= 10, 'spending_flag'] = 'High Spender'

In [17]:
ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spending_flag'] = 'Low Spender'

In [18]:
# Check value counts
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low Spender     32313511
High Spender      120701
Name: spending_flag, dtype: int64

In [19]:
# Return only columns desired
ords_prods_merge[['user_id', 'spending_flag', 'prices']].head(20)

    user_id spending_flag  prices
0         1   Low Spender     9.0
1         1   Low Spender     9.0
2         1   Low Spender     9.0
3         1   Low Spender     9.0
4         1   Low Spender     9.0
5         1   Low Spender     9.0
6         1   Low Spender     9.0
7         1   Low Spender     9.0
8         1   Low Spender     9.0
9         1   Low Spender     9.0
10       15   Low Spender     9.0
11       15   Low Spender     9.0
12       15   Low Spender     9.0
13       15   Low Spender     9.0
14       15   Low Spender     9.0
15       19   Low Spender     9.0
16       19   Low Spender     9.0
17       19   Low Spender     9.0
18       21   Low Spender     9.0
19       31   Low Spender     9.0

#### There are significantly more low spenders than high spenders using Instacart's criteria of low versus high spenders

## Step 7 - Create order frequency flag using median in days_since_prior_order column grouped by user_id

In [28]:
# Find and replace "first order" with "0"
ords_prods_merge.replace(to_replace=['first order'],value = 0)

MemoryError: Unable to allocate 495. MiB for an array with shape (2, 32434212) and data type float64

In [20]:
# Check data type of column
ords_prods_merge['days_since_last_order'].dtype

dtype('O')

In [24]:
# Data type is set as String - Change to Number
ords_prods_merge['days_since_last_order'] = ords_prods_merge['days_since_last_order'].astype('float')

ValueError: could not convert string to float: 'first order'

In [ ]:
# Re-check data type of days since last order column
ords_prods_merge['days_since_last_order'].dtype

In [ ]:
#Re-run group/transform function
ords_prods_merge['median_prior_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform(np.median)

In [ ]:
# Check column was created
ords_prods_merge.head(15)

In [ ]:
# Set criteria with loc()
ords_prods_merge.loc[ords_prods_merge['median_prior_orders'] > 20, 'frequency_flag'] = 'Non-Frequent Customer'

In [ ]:
ords_prods_merge.loc[(ords_prods_merge['median_prior_orders'] > 10) & (ords_prods_merge['median_prior_orders'] <= 20), 'frequency_flag'] = 'Regular customer'

In [ ]:
ords_prods_merge.loc[ords_prods_merge['median_prior_orders'] <= 10, 'frequency_flag'] = 'Frequent Customer'

In [ ]:
#Check value counts
ords_prods_merge['frequency_flag'].value_counts(dropna = False)

In [ ]:
ords_prods_merge.head(60)

## Step 9 - Export as pickle file

In [ ]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_flags.pkl'))